
.contenido {
    max-width: 100%;
    background: fff;
    height: 81px;
    padding: 3px;
}

.image{
	width: 200px;
	float: left;
	margin-left: 5%;
	height: 53px;
	margin-top: 1%;
}

.texto{
	color: black;
	display: inline-flex;
	margin-top: 2%;
	position: absolute;
	margin-left: 10%;
}

h1, h2{
	font-family: 'Montserrat', sans-serif;
}
h2{
	color: #7ab44f;
	margin: 7px;
}

footer{
	text-align: center;
	position: static;
	padding: 12px;
	color: black;
	margin-top: 45px;
	border-top: 1px #cfcfcf solid;
}

p{
	color: black;
}

nav{
	background: #2C2C2C;
	color: #97cc02;
	height: 40px;
}

.logofooter {
    width: 3%;
    float: right;
    margin-right: 350px;
    margin-top: -33px;
}

a:hover {
    text-decoration: none;
    color: #5bba9b;
}

a{
	text-decoration: none;
}

ul, li {
    margin: 0px;
    list-style-type: none;
    display: initial;
    position: static;
    margin-left: 10px;
    padding-left: 25px;
    float: left;
    padding-top: 0.5%;
    color: #97cc02;
}

i{
	position: absolute;
	margin-left: -25px;
	font-size: 14px;
	color: #d7d7d7;
	top: 13px;
}

.social{
	float: right;
	margin-right: 2%;
}

.highcharts-credits{
	display: none;
}